<div class="goal-form">
    <h2>Goal</h2>

    <form (ngSubmit)="onSubmit()" #addGoalForm="ngForm">
        <div>
            <input [(ngModel)]="goal.title" name="title" placeholder="Title" id="title" type="text" required />
        </div>

        <div>
            <input [(ngModel)]="goal.startDate" name="startDate" placeholder="Start date" id="startDate" type="text" required />
        </div>

        <div>
            <input [(ngModel)]="goal.endDate" name="endDate" placeholder="End date" id="endDate" type="text" required />
        </div>

        <div>
            <input [(ngModel)]="goal.description" name="description" placeholder="Description" id="description" type="text" required />
        </div>

        <div>
            <input [(ngModel)]="goal.recurrenceType" name="recurrenceType" placeholder="Recurrence type" id="recurrenceType" type="text"
                required />
        </div>

        <div>
            <input [(ngModel)]="goal.recurrenceValue" name="recurrenceValue" placeholder="Recurrence value" id="recurrenceValue" type="text"
                required />
        </div>

        <div>
            <input [(ngModel)]="goal.target" name="target" id="target" placeholder="Target" type="text" required />
        </div>

        <input type="submit" value="{{submitText}}" />
    </form>
</div>