<div [ngStyle]="getProgressBar()" class="row goal-box">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-lg-4">
                <h3>{{node?.title}}</h3>
                <div *ngIf="showAddForm">
                    <goal-form [parent]="node"></goal-form>
                </div>
                <button (click)="onAddClick()">{{addFormToggleText}}</button>
            </div>

            <div class="col-lg-8">
                <span>{{node?.startDate | date: 'MMM dd, yyyy'}}</span>
                -
                <span>{{node?.endDate | date: 'MMM dd, yyyy'}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <span>{{node?.recurrenceType | recurrence: node?.recurrenceValue}}</span>
            </div>
        </div>
    </div>
</div>

<goal-tree-node *ngFor="let child of node?.subGoals" [node]="child"></goal-tree-node>